@namespace MyAntDesignApp2.Pages.Settings
@page "/settings/series"

@inherits LayoutComponentBase

<h3>setting series1</h3>

<GridContent Id="#main">
    <h3>@_selectKey</h3>

</GridContent>

@code{


    // private string _selectKey = "base";

}