@namespace MyAntDesignApp2.Pages.Settings
@page "/settings/series"

@using MyAntDesignApp2.Models
@using System.Text.Json

@inject NotificationService _notice

<GridContent Id="#main">
    <Alert Message=@_PageKey Type="success" ShowIcon="true"
           Style="margin-bottom:8px" />

    <Collapse DefaultActiveKey=@(defaultActiveKey)>

        @foreach (Spu spu in spuList)
        {
            <Panel Key=@spu.SpuID.ToString()>
                <HeaderTemplate>
                    <p>@spu.SpuCode</p>
                </HeaderTemplate>
                <ChildContent>
                    @foreach (SKu sku in spu.SkuList)
                    {
                        <div>@sku.SkuCode</div>
                    }
                </ChildContent>
            </Panel>
        }
    </Collapse>
</GridContent>

@code{

}