@page "/"

<GridContent>
    <Card>
        <Body>
            <Alert Message="留白没有做."
                   Type="warning"
                   ShowIcon=@(true)
                   Banner
                   Style="margin: -12px; margin-bottom: 24px" />
        </Body>
    </Card>
</GridContent>

@code {

    [Parameter]
    public RenderFragment CoverContent { set; get; }

}
                