@namespace MyAntDesignApp2.Pages.StockIn
@page "/stockin/requestform"
@using MyAntDesignApp2.Models
@using System.Text.Json

@inject NotificationService _notice

<GridContent Id="#main">
    <span>申请入库</span>
</GridContent>

@code {

}
