@namespace MyAntDesignApp2.Pages.Settings
@page "/settings/attrs"

<h3>setting attr </h3>

<GridContent Id="#main">
    <h3>@_selectKey</h3>

</GridContent>

@code{


    // private string _selectKey = "base";

}