@namespace WmsApp

<div class="titleRow">
    <div class="left">
        <span class="c_title">@CurrentFormTitle</span>
    </div>
</div>

@code {
    [Parameter]
    public string CurrentFormTitle { get; set; }
}
